
.sidebar{
    background-color: light-dark(#fff, #242A2E);
    color: light-dark(var(--light-blue), #fff);
    border-right: 1px solid light-dark(#E5E7EB, #4B5563);
    text-align: left;
}

.sidebar a, .sidebar span{
    color: light-dark(var(--light-blue),#ecebeb)!important;
}

.sidebar a:hover{
    background-color: light-dark(#2365EA, #364153)!important;
}
.sidebar a:hover span{
    color: light-dark(#fff,#ecebeb)!important;
}

.main-content{
    background-color: light-dark(#F9FAFB, #1F2937);
}

.content{
    background-color: light-dark(#F9FAFB, #1F2937);
}

.content button{
    background-color: light-dark(var(--light-blue), #364153);
    color: light-dark(#fff, #ecebeb);
}

.content button:hover{
    background-color: light-dark(var(--light-blue-hover), #455164);
}

.eye-icon{
    background-color: transparent!important;
    color: light-dark(#99a1af, white)!important;
}

.country-select{
    background-color: light-dark(#f9fafb, #374151)!important;         /* bg-gray-50 */
    border: 1px solid light-dark(#d1d5db, #4b5563)!important;         /* border + border-gray-300 */
    color: light-dark(#424857, #ffffff)!important;
}

.country-select:hover{
    background-color: light-dark(#ecedee, #374151);
}

/* .invisible{
    visibility: hidden;
} */