
.sidebar{
    background-color: light-dark(#fff, #242A2E);
    color: light-dark(var(--light-blue), #fff);
    border-right: 1px solid light-dark(#E5E7EB, #4B5563);
    text-align: left;
}

.sidebar a, .sidebar span{
    color: light-dark(var(--light-blue),#ecebeb)!important;
}

.sidebar a:hover{
    background-color: light-dark(#2365EA, #364153)!important;
}
.sidebar a:hover span{
    color: light-dark(#fff,#ecebeb)!important;
}

.main-content{
    background-color: light-dark(#F9FAFB, #1F2937);
}

.content{
    background-color: light-dark(#F9FAFB, #1F2937);
}

.content button{
    background-color: light-dark(var(--light-blue), #364153);
    color: light-dark(#fff, #ecebeb);
}

.content button:hover{
    background-color: light-dark(var(--light-blue-hover), #455164);
}

.eye-icon{
    background-color: transparent!important;
    color: light-dark(#99a1af, white)!important;
}

.country-select{
    background-color: light-dark(#f9fafb, #374151)!important;         /* bg-gray-50 */
    border: 1px solid light-dark(#d1d5db, #4b5563)!important;
    color: light-dark(#424857, #ffffff)!important;
}

.country-select:hover{
    background-color: light-dark(#ecedee, #4b5563)!important;
}

.menu-item{
    background-color: transparent!important;
}

.menu-item:hover{
    background-color: light-dark(var(--light-blue), #455164)!important;
}

.menu-item:hover span, .menu-item:hover svg{
    color: #fff!important;
}



/* .menu-item span:hover, .menu-item svg:hover{
    color: light-dark(#fff, #fff)!important;
} */

.active-menu-item{
    background-color: light-dark(#2365EA, #364153)!important;
    color: light-dark(#fff,#ecebeb)!important;
}

.active-menu-item span, .active-menu-item svg{
    color: light-dark(#fff,#ecebeb)!important;
}

.field-error{
    border: 1px solid #dc2626!important; /* Red-600 */
    background-color: light-dark(#fef2f2, #703d3d75)!important; /* Red-50 */
    color: light-dark(#b91c1c, #e63e3e)!important; /* Red-700 */
}

.field-error::placeholder{
    color: light-dark(#b91c1c, #e63e3e)!important; /* Red-700 */
}

.field-error-message{
    color: light-dark(#b91c1c, #e63e3e)!important; /* Red-700 */
}

/* .invisible{
    visibility: hidden;
} */