#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.eye-icon{
  font-size: 1.2em;
  color: #5A677A;
}

.eye-icon:hover{
  color: var(--light-blue-hover);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.dark-button{
  background-color: transparent;
  /* border: 1px solid light-dark(#154D71, #2A313C); */
  box-shadow: 0 2px 10px light-dark(#00000009, #00000040);
  color: light-dark(var(--light-blue), #909aa1);
}

.dark-button:hover{
  background-color: light-dark(#F9FAFB, #3D4750);
  /* border-color: light-dark(#0E3A57, #1E293B); */
}

.nav-button{
  background-color: transparent;
  /* border: 1px solid light-dark(#154D71, #191D21); */
  color: light-dark(var(--light-blue), #fff);
}
.nav-button:hover{
  background-color: light-dark(#e6e8eb, #3D4750);
  color: light-dark(var(--light-blue), #fff);
  border-color: transparent;
}

.menu-a {
  font-weight: 500;
  color: light-dark(#2362EB, #fff)!important;
  text-decoration: inherit;
}
.menu-a:hover {
  color: light-dark(#1e54b7, #f9f9f9)!important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}