@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* @custom-variant light (&:where([data-theme=light], [data-theme=light] *)); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;

  --blue: #2365EA;
  --blue-hover: #1e54b7;
  --blue-active: #1a4a9e;
}

a {
  font-weight: 500;
  color: #2362EB;
  text-decoration: inherit;
}
a:hover {
  color: #1e54b7 !important;
}

body {
  color: light-dark(#121212, #fff);
  background-color: light-dark(#fbf9fa, #121212);
  margin: 0;
  display: flex;
  place-items: center;             
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3{
  color: light-dark(#1e2939, #5A677A);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2365EA;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--blue-hover);
  border-color: var(--blue-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input:hover, input:focus {
  border-color: light-dark(var(--blue), var(--blue-hover));
}